*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 0, 0);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  

}

.nav-links {
    list-style: none;
    display: flex;
    gap: 7rem;
    
}

.nav-links li {
    margin-right: 20px;
    
}

/* Estilos para a seção de banner */
.banner {
    background-color: #f0f0f0;
    padding: 50px;
    text-align: left;
    
}

/* Estilos para a seção de recursos */
.resources {
    padding: 200px;
 text-align: left;   
 background-color: rgb(167, 167, 167);
}

.resource {
    text-align: center;

}

  

/* Estilos para a seção de depoimentos */
.testimonials {
    background-color: #f0f0f0;
    padding: 50px;
}

.testimonial {
    text-align: center;
}

/* Estilos para o rodapé */
footer {
    background-color: #000000;
    color: white;
    padding: 20px;
    text-align: center;
}
.logo{
    color: rgb(192, 25, 25);
    padding-right: 40px;
    

}
.imagem{
    width: 50rem;
}
